Xft.autohint: false
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: true
Xft.antialias: true Xft.rgba: rgb
Xft.dpi: 216
xterm*faceName: Monospace
xterm*faceSize: 12
! Enable select-to-clipboard in xterm
XTerm*selectToClipboard: true

! Custom keybindings for copy and paste
XTerm*VT100.translations: #override \n\
    Shift<KeyPress>Insert: insert-selection(CLIPBOARD) \n\
    Ctrl Shift <KeyPress> C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <KeyPress> V: insert-selection(CLIPBOARD)

! Copyright (c) 2016-present Sven Greb <development@svengreb.de>
! This source code is licensed under the MIT license found in the license file.

#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.foreground:   nord4
*.background:   nord0
*.cursorColor:  nord4
*fading: 35
*fadeColor: nord3

*.color0: nord1
*.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6

! URxvt.font: xft:Monospace:size=12
URxvt.font: xft:0xProtoNerdFontMono-Regular:size=12
URxvt.scrollBar: false
URxvt.perl-ext-common:default,-confirm-paste

! special
URxvt.foreground: #DADAE8
URxvt.background: #1E1E29
URxvt.cursorColor: #B1E3AD

! black
URxvt.color0: #6E6C7E
URxvt.color8: #6E6C7E

! red
URxvt.color1: #E38C8F
URxvt.color9: #E38C8F

! green
URxvt.color2: #B1E3AD
URxvt.color10: #B1E3AD

! yellow
URxvt.color3: #EBDDAA
URxvt.color11: #EBDDAA

! blue
URxvt.color4: #A4B9EF
URxvt.color12: #A4B9EF

! magenta
URxvt.color5: #C6AAE8
URxvt.color13: #C6AAE8

! cyan
URxvt.color6: #E5B4E2
URxvt.color14: #E5B4E2

! white
URxvt.color7: #DADAE8
URxvt.color15: #DADAE8
